@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.Facult

 @using (Html.BeginForm())
        {
    <fieldset>
        <legend>Новая специальность</legend>

        <p>
            Название специальности <br />
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            <input type="submit" value="Добавить новую специальность" />
        </p>
        </fieldset>
        }