@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
    <fieldset>
       
        <form asp-action="AddPerson" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div class=containers>
                 <legend style="text-align:center;">Новый пользователь</legend>
            <div class = "Inform">
            <p>
                <label>Имя</label>
                <input name="Email" class="form-control" pattern="[А-Яа-яЁё]{2,26}" required/>
                </p>
            <p>
                <label>Фамилия</label>
                <input name="Surname" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
             <p>
                <label>Отчество</label>
                <input name="Patronymic" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
             <p>
                <label>Фото</label>
                <input name="Photo" type="file"class="form-control"/>
            </p>
             <p>
                <label>Пароль</label>
                <input name="Password" class="form-control" type="password" pattern="[А-ЯA-Z]+[А-Яа-яЁё0-9.A-Za-z!#$%]{6,}" required/>
            </p>
             <p>
                <label>Паспортные данные</label>
                <input name="Passport" class="form-control" id="validationTooltip01" pattern="[0-9 0-9 0-9]{12}"/>
            </p>
             <p>
                <label>Номер телефона</label>
                <input name="PhoneNumber" class="form-control" id="validationTooltip01" pattern="8{1}[0-9]{10}}" required/>
            </p>
            <p>
                <label>Адрес проживания</label>
                <input name="Adress" class="form-control" id="validationTooltip01" pattern="[А-Яа-яЁё0-9""\\s.]" required/>
            </p>
              <p>
                <label>Имя матери</label>
                <input name="MotherName" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
 
            <p>
                <label>Фамилия матери</label>
                <input name="MotherSurname" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
            </div>
            <div class="Inform">
             <p>
                <label>Номер телефона матери</label>
                <input name="MotherPhone" class="form-control" pattern="8{1}[0-9]{10}}"/>
            </p>
            <p>
                <label>Место работы матери</label>
                <input name="MotherWork" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>
            <p>
                <label>Должность матери</label>
                <input name="MotherPosition" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>
             <p>
                <label>Имя отца</label>
                <input name="FatherName" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
            
              <p>
                <label>Фамилия отца</label>
                <input name="FatherSurname" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
             <p>
                <label>Номер телефона отца</label>
                <input name="FatherPhone" class="form-control" pattern="8{1}[0-9]{10}}"/>
            </p>
            <p>
                <label>Место работы отца</label>
                <input name="FatherWork" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>
            <p>
                <label>Должность отца</label>
                <input name="FatherPosition" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>

              <p>
                <label>Имя законного представителя</label>
                <input name="ReletedName" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
            <p>
                <label>Фамилия законного представителя</label>
                <input name="ReletedSurname" class="form-control" pattern="[А-Яа-яЁё]{2,26}"/>
            </p>
            </div>
            <div class="Inform">
             <p>
                <label>Номер телефона законного представителя</label>
                <input name="ReletedPhone" class="form-control" pattern="8{1}[0-9]{10}"/>
            </p>
            <p>
                <label>Место работы законного представителя</label>
                <input name="FatherWork" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>
            <p>
                <label>Должность законного представителя</label>
                <input name="FatherPosition" class="form-control" pattern="[А-Яа-яЁё0-9""\\s.]"/>
            </p>
            <p>
                <label>Дата рождения</label>
                <input name="BirthDay" class="form-control" pattern="[0-9/0-9/0-9]{10}"/>
            </p>
            <p>
                <label>Дата поступления</label>
                <input name="StartDate" class="form-control" pattern="[0-9/0-9/0-9]{10}"/>
            </p>
            <p>
                <label>Дата выпуска/отчисления</label>
                <input name="EndDate" class="form-control" pattern="[0-9/0-9/0-9]{10}"/>
            </p>
        <p>
            Роль <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>
            <p>
            Группа <br />
            @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
        </p>
             <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
        </div>
        </div>
        <div class=containers>
            <div class = "Inform">
        <p>
            <input type="submit" value="Добавить нового пользователя"class="btn btn1" />
        </p>
        </div>
        <div class="Inform">
        <a class="btn btn1" href="/Admin/PersonsList">Назад</a>
        </div>
        </div>
        </form>
        </fieldset>