@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class=containers>
        <div class="Inform">
            <div class="btn btn-primary">@Html.ActionLink("Все люди на сайте", "PersonsList", "Admin", new{}, new{@style="color:white;text-decoration: none;"})</div>
            <div class="btn btn-primary">@Html.ActionLink("Все группы", "ListGroup", "Group",new{}, new{@style="color:white;text-decoration: none;"})</div>
            <div class="btn btn-primary">@Html.ActionLink("Все специальности", "ListFacult", "Facult",new{}, new{@style="color:white;text-decoration: none;"})</div>
        </div>
    </div>