@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class=containers>
        <div class="Inform">
            <a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Admin", action="PersonsList"})">Все люди на сайте</a>
            <a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Group", action="ListGroup"})">Все группы</a>
            <a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Facult", action="ListFacult"})">Все специальности</a>
        </div>
    </div>