@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
         <form asp-action="AddStudent" asp-controller="Moder" method="post" enctype="multipart/form-data">
        <div class=containers>
       <legend style="text-align:center;">Новый студент</legend>
        <div class=Inform>
       <p>
                <label>Имя</label>
                <input name="Email" class="form-control" id="validationTooltip01" required/>
                </p>
            <p>
                <label>Фамилия</label>
                <input name="Surname" class="form-control" id="validationTooltip01" required/>
            </p>
             <p>
                <label>Отчество</label>
                <input name="Patronymic" class="form-control" id="validationTooltip01" required/>
            </p>
             <p>
                <label>Фото</label>
                <input name="Photo" type="file"class="form-control"/>
            </p>
           @*  <p>
                <label>Пароль</label>
                <input name="Password" class="form-control" id="validationTooltip01" type="password" required/>
            </p>*@
              <p>
                <label>Паспортные данные</label>
                <input name="Passport" class="form-control" id="validationTooltip01" required/>
            </p>
            <p>
                <label>Имя матери</label>
                <input name="MotherName" class="form-control"/>
            </p>
            <p>
                <label>Фамилия матери</label>
                <input name="MotherSurname" class="form-control"/>
            </p>
            
           <p>
                <label>Имя отца</label>
                <input name="FatherName" class="form-control"/>
            </p>
            </div>
         <div class=Inform>
              <p>
                <label>Фамилия отца</label>
                <input name="FatherSurname" class="form-control"/>
            </p>
            <p>
                <label>Имя законного представителя</label>
                <input name="ReletedName" class="form-control" />
            </p>
            <p>
                <label>Фамилия законного представителя</label>
                <input name="ReletedSurname" class="form-control" />
            </p>
            <p>
                <label>Дата рождения</label>
                <input name="BirthDay" class="form-control" id="validationTooltip01" required/>
            </p>
            <p>
                <label>Дата поступления</label>
                <input name="StartDate" class="form-control" id="validationTooltip01" required/>
            </p>
            <p>
                <label>Дата выпуска/отчисления</label>
                <input name="EndDate" class="form-control"/>
            </p>
             <p>
            Группа <br />
          @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
             <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
        </div>
        </div>
        <div class="containers">
            <div class="Inform">
        <input type="submit" value="Добавить нового студента" class="btn btn1"/>
        </div>
        <div class="Inform">
        <a class="btn btn1" href="/Moder/ModerPage">Назад</a>
        </div>
        </div>
        </form>