<form asp-action="FindExport" asp-controller="Reports" method="post" enctype="multipart/form-data">   
          <p>
                <label>Имя</label>
                <input name="Email" class="form-control"/>
                </p>
            <p>
                <label>Фамилия</label>
                <input name="Surname" class="form-control"/>
                </p>
            <p>
                <label>Отчество</label>
                <input name="Patronymic" class="form-control"/>
                </p>
            <p>
                <label>Название группы</label>
                <input name="GroupName" class="form-control"/>
                </p>
            <p>
                <p>
                <label>Название специальности</label>
                <input name="FacultName" class="form-control"/>
                </p>
            <p>
                <input type="submit" value="Сгенерировать отчет" class="btn btn1"/>
        </form>
        <p>
</p>
