@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.Group

 @using (Html.BeginForm())
        {
    <fieldset>
        <legend>Новая группа</legend>

        <p>
            Название группы <br />
            @Html.EditorFor(model => model.Name,new{htmlAttributes = new{@pattern="[А-Я][-][0-9][А-Я]{4}"}})
        </p>
        <p>
            <input type="submit" value="Добавить новую группу" class="btn btn1"/>
        </p>
        </fieldset>
        }