@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.Group

 @using (Html.BeginForm())
        {
    <fieldset>
        <legend>Новая группа</legend>

        <p>
            Email пользователя <br />
            @Html.DisplayFor(model => model.Name)
        </p>
        <p>
            <input type="submit" value="Добавить нового пользователя" />
        </p>
        </fieldset>
        }